.customNavBar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    52deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 105, 121, 1) 60%,
    rgba(0, 212, 255, 1) 100%
  );
}

li {
    display: inline-block;
  }

/* li {
  display: inline-block;
}


.logo {
    height: 100px;
    width: auto;
    float: left;
    margin: 20px 0;
  } */