<!-- <button class="btn btn-sm" type="button" (click)="onMenuClick()">
  <svg
    width="2.5em"
    height="2.5em"
    viewBox="0 0 16 16"
    class="bi bi-list"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
    style="color: white;border: none;"
  >
    <path
      fill-rule="evenodd"
      d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
    />
  </svg> 
</button> -->
<div class="navbar">
   <div class="dropdown">
    <button class="btn btn-default customddl">
      <svg
      width="1.5em"
      height="1.5em"
      viewBox="0 0 16 16"
      class="bi bi-list"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      style="color: white;border: none;"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
      />
    </svg>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
    <a routerLink="/dashboard" routerLinkActive="active"> DASHBOARD</a>
    <a routerLink="/datatrends" routerLinkActive="active">DATA TRENDS</a>
    <a routerLink="/grid" routerLinkActive="active">GRID</a>
    </div>
  </div> 
</div>


