.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.btnBack{
  border: none;
  margin-left: 98%;
}

.main-content {
  margin: 5rem 2rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


