<div class="customdiv">
    <div class="contianerTitle">Dashboard</div>
    <div class="row col-md-12">
      <div
        class="offset-2 col-md-3"
        style="padding-bottom: 2%"
        *ngFor="let tile of filteredTilesData"
      >
      
        <div class="card customCard" (click)="onTileClick(tile.headerText)">
            <div class="card-header cardHeader" title="{{tile.tileName}}">
                {{ tile.headerText.length > 35 ? (tile.headerText | slice:0:35) +'...' : tile.headerText }}
              </div>
          <div class="card-body cardBody" title="{{tile.content}}">
            <span> {{ tile.content.length > 50 ? (tile.content | slice:0:50) +'...' : tile.content }}</span>
          </div>
        </div>
      </div>
    </div>
</div>
