<div class="row">
    <div>
     <kendo-grid
      [data]="gridData"
      [pageSize]="state.take"
      [skip]="state.skip"
      [sort]="state.sort"
      [filter]="state.filter"
      [sortable]="true"
      [pageable]="true"
      filterable="menu"
      (dataStateChange)="dataStateChange($event)"
    >
      <kendo-grid-column
        *ngFor="let col of columnHeaders"
        [field]="col.field"
        title="{{col.title}}"
      >
        <ng-template kendoGridHeaderTemplate let-column>
          <b class="whole-cell" title="{{col}}">{{ column.title }}</b>
        </ng-template>
        <ng-template
          kendoGridCellTemplate
          *ngIf="col.type === 'date'"
          let-dataItem
          let-RowIndex="rowIndex"
          filter="date"
          format="{0:d}"
        >
          {{ dataItem[col.field] | date: "yyyy/MM/dd" }}
        </ng-template>
      </kendo-grid-column>
      <ng-template kendoGridNoRecordsTemplate>
        <b style="margin-left: -50%">There are no records available.</b>
      </ng-template>
    </kendo-grid>
  </div>
</div>
