<div class="row">
  <!-- <div class="bstyle">
    <button
      class="btn btn-sm"
      (click)="OnExport()"
      style="
        background-color: #f5f5f5;
        border: 1px solid rgb(206, 208, 209);
        height: 35px;
      "
    >
      <span style="font-weight: 500; color: rgb(107, 104, 104)"
        >EXCEL로 모두 내보내기
      </span>
    </button>
  </div> -->
<!-- 
   <div class="row">
      <tabset>
        <tab *ngFor="let tab of tabs">
          <ng-template tabHeading>
           {{tab}}
          </ng-template>
        </tab>
      </tabset>
    </div> -->




  <div>
    <!-- <kendo-grid
      [data]="gridView"
      [height]="500"
      [columnMenu]="true"
      [reorderable]="true"
      filterable="menu"
      [sortable]="{
        mode: 'single'
      }"
      [sort]="sort"
      [pageSize]="pageSize"
      [skip]="skip"
      [pageable]="true"
      (pageChange)="pageChange($event)"
    >
      <kendo-grid-column
        field="ProductID"
        title="S.No"
        width="90"
        [sortable]="false"
        [columnMenu]="false"
        [filterable]="false"
      >
      </kendo-grid-column>
      <kendo-grid-column field="ProductName" title="Product Name">
      </kendo-grid-column>
      <kendo-grid-column field="Category.CategoryName" title="Category">
      </kendo-grid-column>
      <kendo-grid-column field="UnitPrice" title="Price(in $)">
      </kendo-grid-column>
      <kendo-grid-column field="UnitsInStock" title="In stock">
      </kendo-grid-column>
    </kendo-grid> -->

    <kendo-grid
      [data]="gridData"
      [pageSize]="state.take"
      [skip]="state.skip"
      [sort]="state.sort"
      [filter]="state.filter"
      [sortable]="true"
      [pageable]="true"
      filterable="menu"
      (dataStateChange)="dataStateChange($event)"
    >
      <kendo-grid-column
        *ngFor="let col of columnHeaders"
        [field]="col.field"
        title="{{ col.title }}"
      >
        <ng-template kendoGridHeaderTemplate let-column>
          <b class="whole-cell">{{ column.title }}</b>
        </ng-template>
        <ng-template
          kendoGridCellTemplate
          *ngIf="col.type === 'date'"
          let-dataItem
          let-RowIndex="rowIndex"
          filter="date"
          format="{0:d}"
        >
          {{ dataItem[col.field] | date: "yyyy/MM/dd" }}
        </ng-template>
      </kendo-grid-column>
      <ng-template kendoGridNoRecordsTemplate>
        <b style="margin-left: -50%">There are no records available.</b>
      </ng-template>
    </kendo-grid>
  </div>
</div>
